header{
    box-sizing: content-box;
}
body{
    background-color: black;
    
    
}
.titlemian{
    text-align: center;
    background-image: "assets/img/bgmain.png" ;
}
font{
    color:white;
}
link{
    color:dodgerblue;
    
}
.h1main{
    background-image: image(assets/img/bgmain);
    text-align: center;

}
