/* unvisited link */
a:link {
    color: white;
    text-decoration: none;
  }
  
  /* visited link */
  a:visited {
    color: white;
    text-decoration: none;
  }
  
  /* mouse over link */
  a:hover {
    color: white;
    text-decoration: underline;
    text-decoration-color: white;
  }
  
  /* selected link */
  a:active {
    color: white;
    text-decoration: underline;
    text-decoration-color: black;
  }

body{
    background-color: black;
   
    
}

.titlemian{
    text-align: center;
    background-image: "assets/img/bgmain.png" ;
}
font{
    color:white;
}
link{
    color:dodgerblue;
    
}
.h1main{
    background-image: image(assets/img/bgmain);
    text-align: center;

}
